

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background-color: #f2f2e8;
}

h1 {
	font-family: 'Quicksand', sans-serif;
	font-size: 8em;
	color: #f2f2e8;
}

h1 a {
	color: inherit;
}

h1 a:hover {
	color: rgba(33,8,8,1);
	text-decoration: none;
	-o-transition:.5s;
  	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

#top-box {
	background-color: rgba(33,8,8,1);
	height: 5px;
	width: 100%
}

.row-header {
	background-color: brown;
	padding-top: 60px;
	padding-bottom: 40px;
}

#header {
	text-align: center;
	color: rgba(33,8,8,1);
}

#header h3 {
	margin-top: 70px;
	margin-bottom: 30px;
}

#header i {
	margin-left: 30px;
	vertical-align: middle;
}

.navbar {
	margin-bottom: 30px;
	z-index: 10;
}

.navbar .container {
	width: 940px;
}

.navbar-inner {
	background-color: #fff;
	-webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
			border-radius: 0px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.5);
	   -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.5);
			box-shadow: 0 1px 4px rgba(0,0,0,0.5);		
	background-image: none;
	border: 0;
	color: rgba(0,0,0,.8);
}

.navbar-inner a {
	color: rgba(0,0,0,.8);
}

.navbar-inner a:hover {
	color: rgba(0,0,0,1);
	text-decoration: none;
}

.navbar .nav {
	margin-top: 10px;

}

.navbar .nav>li>a {
	font-size: 16px;
	font-weight: bold;
	color: rgba(33,8,8,1);
}

#header i {
	margin-left: 30px;
	vertical-align: middle;
}

#nav-social {
	float: left;
}

#nav-social i {
	margin-right: 15px;
}



table .input-append {
	margin-bottom: 0px;
}

#calendar {
	color: rgba(0,0,0,.8);
	text-align: left;
}

#calendar h2 {
	text-align: center;
}

.icons {
	margin-left: -30px;
}

.thumb {
	height: 125px;
	/*width: auto;*/
}

.image-cell {
	width: 98px;
}

.date-cell {
	width: 100px;
}

.game-info {
	position: relative;
}

.game-info:before {
	position: absolute;
	font-family: FontAwesome;
	top:5px;
    right:-25px;
    content: "\f0a3";
    font-size: 100px;
    color: red;
    z-index: 1;
}

.game-deck {
	font-size: 12px;
	padding-right: 60px;
}

.pull-forward {
	position: relative;
	z-index: 2;
}

.score {
	font-weight: bold;
	font-size: 36px;
	color: #fff;
	padding-right: -10px;
	padding-top: 5px;
}
